.contentWrapper {
    background: #0b1736;
}

.content {
    margin: 0 auto;
    max-width: 1170px;
    padding: 5rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #fff;
    font-family: "ProximaNova ExtraBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 8px;
    text-align: center;
}

.ctaLink {
    margin-top: 40px;
    margin-bottom: 2rem;
}

@media (width <= 991px) {
    .title {
        font-size: 32px;
        line-height: 40px;
    }
    .ctaLink {
        padding: 13px 30px;
        font-size: 16px;
    }
}

@media (width <= 767px) {
    .content {
        padding: 2rem 0;
    }
}