.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 60px;

    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 .9375rem;
    padding: 0 0.9375rem;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.sectionTitle {
    color: #36383b;
    font-family: "ProximaNova ExtraBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 8px;
}

.column:last-child {
    width: calc(25% - 1.875rem);
}

.copyright {
    font-size: .89rem;
    line-height: 1.2;
    margin-bottom: 16px;
}

.socialMedia {
    display: flex;
}

.socialMediaIconLink:not(:first-child) {
    margin-left: 20px;
}

i {
    color: #56575b;
}






