.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 60px;

    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 .9375rem;
    padding: 0 0.9375rem;
    flex: 1 1 0%;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.sectionTitle {
    color: #36383b;
    font-family: "ProximaNova ExtraBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 8px;
}

.secondLastColumn {
    width: calc(16.66667% - 1.875rem);
    flex: 0 0 auto;
}

.column:last-child {
    width: calc(25% - 1.875rem);
    flex: 0 0 auto;
}

.copyright {
    font-size: .89rem;
    line-height: 1.2;
    margin-bottom: 16px;
}

.socialMedia {
    display: flex;
}

.socialMediaIconLink:not(:first-child) {
    margin-left: 20px;
}

i {
    color: #56575b;
}

@media (width < 1024px) {
    .column, .column:last-child {
        width: calc(33.33333% - 1.875rem);
        flex: 0 0 auto;
    }

    .hideForMedium {
        display: none;
    }

    .socialMediaBlock {
        text-align: center;
        margin-bottom: 8px;
    }
}

@media (width < 640px) {
    .column, .column:last-child {
        width: calc(100% - 1.25rem);
    }
}






