body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "ProximaNova Regular", "Helvetica Neue", Helvetica,Arial, sans-serif;
  color: #36383b;
  font-size: 16px;
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "ProximaNova Regular";
  src: local('ProximaNova Regular'), url(./fonts/ProximaNovaRegular.woff) format('woff');
}

@font-face {
  font-family: "ProximaNova ExtraBold";
  src: local('ProximaNova ExtraBold'), url(./fonts/ProximaNovaExtraBold.woff) format('woff');
}
