.contentWrapper {
    background: #0C1736;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 1.875rem;
    display: flex;
    flex-direction: column;
}

.firstRow {
    display: flex;
}

.input {
    height: 60px;
    border: 1px solid #d3d4d7;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 20px;
    line-height: 1.5;
    width: 72%;
    margin-right: 20px;
}

.inputSignature {
    margin-top: 10px;
    color: #9ca1ad;
    font-size: 14px;
    line-height: 1.4em;
    width: 100%;
    text-align: center;
    padding-right: 16%;
}

.shortenButton {
    background: #1b3987;
    color: white;
    font-size: 20px;
    line-height: 1.11;
    padding: 18px 30px;
    border: 1px solid transparent;
    border-radius: 6px;
    min-width: 25%;
}

.shortenButton:hover, .shortenButton:active {
    background: #2a5bd7;
}

.link {
    color: #9ca1ad;
    text-decoration: underline;
    font-size: 14px;
}

.link:hover {
    color: #a1b8f3;
}

@media (width < 1100px) {
    .inputSignature {
        padding-right: 0;
    }
}

@media (width <= 991px) {
    .firstRow {
        flex-direction: column;
    }

    .input {
        width: initial;
        margin-right: 0;
        margin-bottom: 10px;
        height: 50px;
    }

    .shortenButton {
        padding: 15px;
        font-size: 16px;
        line-height: 18px;
    }
}